@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root {
    --verde-main: #2B766D;
    --verde-escuro: #062B26;
    --verde-claro: #B0D7C0;
    --preto: #000000;

}


/* For mobile:  */
@media only screen and (min-width:600px) {}


/* For desktop: */

@media only screen and (min-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: 'Suse', sans-serif;
    }

    body {
        margin: 0;
        background-color: var(--verde-escuro);
        min-height: 100vh;
        display: grid;
        place-items: center;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        height: 100px;
        cursor: pointer;
    }

    h4:hover {
        top: 1.9rem;
        transition: smooth;
    }


    h4 {
        position: absolute;
        top: 2rem;
        color: white;
    }

    .icon {
        position: absolute;
        top: -50px;
        left: 85%;

    }

    .icon i {
        position: relative;
        font-size: 40px;
        height: 55px;
        left: 85px;
        top: 4.1rem;
        z-index: 1;
        color: var(--verde-escuro);
        cursor: pointer;
    }

    .icon a {
        position: absolute;
        width: 55px;
        height: 55px;
        left: 75px;
        top: 5rem;

        background: #B0D7C0;
        border-radius: 80px;
    }

    .icon:hover {
        top: -3.3rem;
        transition: smooth;
    }

    /* parte 1 */

    .container {
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
        height: 500px;
        gap: 10px;

        >div {
            flex: 0 0 120px;
            border-radius: 0.5rem;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            box-shadow: 1px 5px 15px var(--verde-main);
            position: relative;
            overflow: hidden;

            &:nth-of-type(1) {
                background: url(/imgs/img1.jpg) no-repeat 50% / cover;
            }

            &:nth-of-type(2) {
                background: url(/imgs/img2.jpg) no-repeat 50% / cover;
            }

            &:nth-of-type(3) {
                background: url(/imgs/img3.jpg) no-repeat 50% / cover;
            }

            &:nth-of-type(4) {
                background: url(/imgs/img4.jpg) no-repeat 50% / cover;
            }
            &:nth-of-type(5) {
                background: url(/imgs/img1.jpg) no-repeat 50% / cover;
            }
            &:nth-of-type(6) {
                background: url(/imgs/img2.jpg) no-repeat 50% / cover;
            }

            .content {
                font-size: 1.5rem;
                color: #fff;
                display: flex;
                align-items: center;
                padding: 15px;
                opacity: 0;
                flex-direction: column;
                height: 100%;
                justify-content: flex-end;
                background: var(--verde-escuro);
                background: linear-gradient(0deg,
                        var(--preto) 0%,
                        rgba(255, 255, 255, 0) 100%);
                transform: translatey(100%);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
                visibility: hidden;

                span {
                    display: block;
                    margin-top: 5px;
                    font-size: 1.2rem;
                }
            }

            &:hover {
                flex: 0 0 250px;
                box-shadow: 1px 3px 15px var(--verde-main);
                transform: translatey(-20px);
            }

            &:hover .content {
                opacity: 1;
                transform: translatey(0%);
                visibility: visible;
            }
        }
    }

    /* parte 2 */

    .parte2 {
        background-color: var(--verde-escuro);
        height: fit-content;
    }

    .parte2 .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: var(--verde-claro);
        z-index: -1;
        padding: 2rem;
    }

    .parte2 .quadros {
        background-color: var(--verde-escuro);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 20px;
    }

    .parte2 .quadros .quadros-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .parte2 .quadros .quadro1 .text {
        display: flex;
        flex-direction: column;
        
    }

    .parte2 .quadros .quadro1 .text{
        justify-content: flex-end;
        padding: 10px;
        width: 350px;
        height: 230px;
        border-radius: 1rem;
        background: url(/imgs/texto\ texto\ texto.png) no-repeat 50% / cover;
                background: linear-gradient(0deg,
                        var(--preto) 0%,
                        rgba(255, 255, 255, 0) 100%), url(/imgs/texto\ texto\ texto.png);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    }

    .parte2 .quadros .quadro1 .text a {
        color: white;
    }

    .parte2 .quadros .quadro2 .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        width: 350px;
        height: 230px;
        border-radius: 1rem;
        background: url(/imgs/texto\ texto\ texto.png) no-repeat 50% / cover;
                background: linear-gradient(0deg,
                        var(--preto) 0%,
                        rgba(255, 255, 255, 0) 100%), url(/imgs/texto\ texto\ texto.png);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    }

    .parte2 .quadros .quadro2 .text a {
        z-index: 1;
        color: white;
    }

    .parte2 .quadros .quadros-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .parte2 .quadros .quadro3 .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        width: 350px;
        height: 230px;
        border-radius: 1rem;
        background: url(/imgs/texto\ texto\ texto.png) no-repeat 50% / cover;
                background: linear-gradient(0deg,
                        var(--preto) 0%,
                        rgba(255, 255, 255, 0) 100%), url(/imgs/texto\ texto\ texto.png);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    }


    .parte2 .quadros .quadro3 .text a {
        color: white;
    }

    .parte2 .quadros .circulo i {
        position: relative;
        font-size: 100px;
        z-index: 1;
        color: var(--verde-escuro);
        cursor: pointer;
        background-color: var(--verde-claro);
        padding: 40px;
        border-radius: 50%;
        top: -2.5rem;
    }

    .parte2 .quadros .circulo i:hover {
        background-color: var(--verde-main);
        color: var(--preto);
        transition: smooth;
    }

    /*parte 3*/

    .parte3 {
        padding-top: 2rem;
        background-color: var(--verde-escuro);
        height: fit-content;
    }

    .parte3 .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: var(--verde-claro);
        z-index: -1;
        padding: 2rem;
    }

    .parte3 .quadros {
        background-color: var(--verde-escuro);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 20px;
    }

    .parte3 .quadros .quadros-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .parte3 .quadros .quadro1 .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        width: 350px;
        height: 230px;
        border-radius: 1rem;
        background: url(/imgs/texto\ texto\ texto.png) no-repeat 50% / cover;
                background: linear-gradient(0deg,
                        var(--preto) 0%,
                        rgba(255, 255, 255, 0) 100%), url(/imgs/texto\ texto\ texto.png);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    }


    .parte3 .quadros .quadro1 .text a {
        z-index: 1;
        color: white;
    }

    .parte3 .quadros .quadro2 .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        width: 350px;
        height: 230px;
        border-radius: 1rem;
        background: url(/imgs/texto\ texto\ texto.png) no-repeat 50% / cover;
                background: linear-gradient(0deg,
                        var(--preto) 0%,
                        rgba(255, 255, 255, 0) 100%), url(/imgs/texto\ texto\ texto.png);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    }

    .parte3 .quadros .quadro2 .text a {
        z-index: 1;
        color: white;
    }

    .parte3 .quadros .quadros-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .parte3 .quadros .quadro3 .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        width: 350px;
        height: 230px;
        border-radius: 1rem;
        background: url(/imgs/texto\ texto\ texto.png) no-repeat 50% / cover;
                background: linear-gradient(0deg,
                        var(--preto) 0%,
                        rgba(255, 255, 255, 0) 100%), url(/imgs/texto\ texto\ texto.png);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    }


    .parte3 .quadros .quadro3 .text a {
        z-index: 1;
        color: white;
    }

    .parte3 .quadros .circulo i {
        position: relative;
        font-size: 100px;
        z-index: 1;
        color: var(--verde-escuro);
        cursor: pointer;
        background-color: var(--verde-claro);
        padding: 40px;
        border-radius: 50%;
        top: -2.5rem;
    }

    .parte3 .quadros .circulo i:hover {
        background-color: var(--verde-main);
        color: var(--preto);
        transition: smooth;
    }


    /*parte 4*/

    .parte4 {
        padding-top: 2rem;
        background-color: var(--verde-escuro);
        height: fit-content;
    }

    .parte4 .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: var(--verde-claro);
        z-index: -1;
        padding: 2rem;
    }

    .parte4 .quadros {
        background-color: var(--verde-escuro);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 20px;
    }

    .parte4 .quadros .quadros-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .parte4 .quadros .quadro1 .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        width: 350px;
        height: 230px;
        border-radius: 1rem;
        background: url(/imgs/texto\ texto\ texto.png) no-repeat 50% / cover;
                background: linear-gradient(0deg,
                        var(--preto) 0%,
                        rgba(255, 255, 255, 0) 100%), url(/imgs/texto\ texto\ texto.png);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    }

    .parte4 .quadros .quadro1 .text a {
        z-index: 1;
        color: white;
    }

    .parte4 .quadros .quadro2 .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        width: 350px;
        height: 230px;
        border-radius: 1rem;
        background: url(/imgs/texto\ texto\ texto.png) no-repeat 50% / cover;
                background: linear-gradient(0deg,
                        var(--preto) 0%,
                        rgba(255, 255, 255, 0) 100%), url(/imgs/texto\ texto\ texto.png);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    }

    .parte4 .quadros .quadro2 .text a {
        z-index: 1;
        color: white;
    }

    .parte4 .quadros .quadros-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .parte4 .quadros .quadro3 .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        width: 350px;
        height: 230px;
        border-radius: 1rem;
        background: url(/imgs/texto\ texto\ texto.png) no-repeat 50% / cover;
                background: linear-gradient(0deg,
                        var(--preto) 0%,
                        rgba(255, 255, 255, 0) 100%), url(/imgs/texto\ texto\ texto.png);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    }

    .parte4 .quadros .quadro3 .text a {
        z-index: 1;
        color: white;
    }

    .parte4 .quadros .circulo i {
        position: relative;
        font-size: 100px;
        z-index: 1;
        color: var(--verde-escuro);
        cursor: pointer;
        background-color: var(--verde-claro);
        padding: 40px;
        border-radius: 50%;
        top: -2.5rem;
    }

    .parte4 .quadros .circulo i:hover {
        background-color: var(--verde-main);
        color: var(--preto);
        transition: smooth;
    }

    /*parte 5*/

    .parte5 {
        padding-top: 2rem;
        background-color: var(--verde-escuro);
        height: fit-content;
        padding-bottom: 4rem;
    }

    .parte5 .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: var(--verde-claro);
        z-index: -1;
        padding: 2rem;
    }

    .parte5 .quadros {
        background-color: var(--verde-escuro);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 20px;
    }

    .parte5 .quadros .quadros-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .parte5 .quadros .quadro1 .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        width: 350px;
        height: 230px;
        border-radius: 1rem;
        background: url(/imgs/texto\ texto\ texto.png) no-repeat 50% / cover;
                background: linear-gradient(0deg,
                        var(--preto) 0%,
                        rgba(255, 255, 255, 0) 100%), url(/imgs/texto\ texto\ texto.png);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    }

    .parte5 .quadros .quadro1 .text a {
        z-index: 1;
        color: white;
    }

    .parte5 .quadros .quadro2 .text {
    display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        width: 350px;
        height: 230px;
        border-radius: 1rem;
        background: url(/imgs/texto\ texto\ texto.png) no-repeat 50% / cover;
                background: linear-gradient(0deg,
                        var(--preto) 0%,
                        rgba(255, 255, 255, 0) 100%), url(/imgs/texto\ texto\ texto.png);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    }

    .parte5 .quadros .quadro2 .text a {
        z-index: 1;
        color: white;
    }

    .parte5 .quadros .quadros-2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .parte5 .quadros .quadro3 .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        width: 350px;
        height: 230px;
        border-radius: 1rem;
        background: url(/imgs/texto\ texto\ texto.png) no-repeat 50% / cover;
                background: linear-gradient(0deg,
                        var(--preto) 0%,
                        rgba(255, 255, 255, 0) 100%), url(/imgs/texto\ texto\ texto.png);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    }

    .parte5 .quadros .quadro3 .text a {
        z-index: 1;
        color: white;
    }

    .parte5 .quadros .quadro4 .text {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 10px;
        width: 350px;
        height: 230px;
        border-radius: 1rem;
        background: url(/imgs/texto\ texto\ texto.png) no-repeat 50% / cover;
                background: linear-gradient(0deg,
                        var(--preto) 0%,
                        rgba(255, 255, 255, 0) 100%), url(/imgs/texto\ texto\ texto.png);
                transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
    }

    .parte5 .quadros .quadro4 .text a {
        z-index: 1;
        color: white;
    }

    footer {
        padding-top: 3rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    footer h6 {
        font-size: .9rem;
        color: white;
    }

}