@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');

:root {
    --verde-main: #2B766D;
    --verde-escuro: #062B26;
    --verde-claro: #B0D7C0;
    --preto: #000000;

}


/* For mobile:  */
@media only screen and (min-width:600px) {}


/* For desktop: */

@media only screen and (min-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        outline: none;
        scroll-behavior: smooth;
        font-family: 'Suse', sans-serif;
    }

    body {
        margin: 0;
        background-color: var(--verde-main);
    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        height: 100px;
        cursor: pointer;
    }

    h4:hover{
        top: 1.9rem;
        transition: smooth;
    }


    h4 {
        position: absolute;
        top: 2rem;
    }

    .icon {
        position: absolute;
        top: -50px;
        left: 85%;

    }

    .icon i {
        position: relative;
        font-size: 40px;
        height: 55px;
        left: 85px;
        top: 4.1rem;
        z-index: 1;
        color: var(--verde-escuro);
        cursor: pointer;
    }

    .icon a {
        position: absolute;
        width: 55px;
        height: 55px;
        left: 75px;
        top: 5rem;

        background: #B0D7C0;
        border-radius: 80px;
    }

    .icon:hover{
        top: -3.3rem;
        transition: smooth;
    }

    /* parte 1 */

    .parte1 {
        height: 30rem;
        background-image: linear-gradient(#2B766D, #134640, #062A26);
    }

    .carrossel {
        display: flex;
        position: relative;
        gap: 10px;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        padding: 10px;
    }

    .carrossel::-webkit-scrollbar {
        background-color: transparent;
        height: 10px;
        width: 10px;
        border: 1px solid var(--verde-escuro);
        border-radius: 1.5rem;
    }

    .carrossel::-webkit-scrollbar-thumb {
        background: var(--verde-claro);
        border-radius: .9rem;
        width: 10px;
        height: 10rem;
    }

    .carrossel img {
        border-radius: .9rem;
        opacity: 90%;
        background-image: linear-gradient(transparent, black);
    }

    .carrossel .item1 .content a {
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 5rem;
        font-weight: bold;
        padding: 10px;
        top: 60%;
    }

    .carrossel .item2 .content a {
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 5rem;
        font-weight: bold;
        padding: 10px;
        top: 60%;
    }

    .carrossel .item3 .content a {
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 5rem;
        font-weight: bold;
        padding: 10px;
        top: 60%;
    }

    .carrossel .item4 .content a {
        position: absolute;
        z-index: 1;
        color: white;
        font-size: 5rem;
        font-weight: bold;
        padding: 10px;
        top: 60%;
    }

    /* parte 2 */

    .parte2 {
        background-color: var(--verde-escuro);
        height: fit-content;
    }

    .parte2 .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: var(--verde-claro);
        z-index: -1;
        padding: 2rem;
    }

    .parte2 .quadros{
        background-color: var(--verde-escuro);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 20px;
    }

    .parte2 .quadros .quadros-1{
        display: flex;
        flex-direction:column;
        gap: 20px;
    }

    .parte2 .quadros .quadro1 .text{
        display: flex;
        flex-direction: column;
    }

    .parte2 .quadros .quadro1 .text a{
        z-index: 1;
        color: white;
    }

    .parte2 .quadros .quadro2 .text{
        display: flex;
        flex-direction: column;
    }

    .parte2 .quadros .quadro2 .text a{
        z-index: 1;
        color: white;
    }

    .parte2 .quadros .quadros-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .parte2 .quadros .quadro3 .text{
        display: flex;
        flex-direction: column;
    }

    .parte2 .quadros .quadro3 .text a{
        z-index: 1;
        color: white;
    }

    .parte2 .quadros .circulo i {
        position: relative;
        font-size: 100px;
        z-index: 1;
        color: var(--verde-escuro);
        cursor: pointer;
        background-color: var(--verde-claro);
        padding: 40px;
        border-radius: 50%;
        top: -2.5rem;
    }

    .parte2 .quadros .circulo i:hover{
        background-color: var(--verde-main);
        color: var(--preto);
        transition: smooth;
    }

    /*parte 3*/

    .parte3 {
        padding-top: 2rem;
        background-color: var(--verde-escuro);
        height: fit-content;
    }

    .parte3 .title {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        color: var(--verde-claro);
        z-index: -1;
        padding: 2rem;
    }

    .parte3 .quadros{
        background-color: var(--verde-escuro);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        gap: 20px;
    }

    .parte3 .quadros .quadros-1{
        display: flex;
        flex-direction:column;
        gap: 20px;
    }

    .parte3 .quadros .quadro1 .text{
        display: flex;
        flex-direction: column;
    }

    .parte3 .quadros .quadro1 .text a{
        z-index: 1;
        color: white;
    }

    .parte3 .quadros .quadro2 .text{
        display: flex;
        flex-direction: column;
    }

    .parte3 .quadros .quadro2 .text a{
        z-index: 1;
        color: white;
    }

    .parte3 .quadros .quadros-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .parte3 .quadros .quadro3 .text{
        display: flex;
        flex-direction: column;
    }

    .parte3 .quadros .quadro3 .text a{
        z-index: 1;
        color: white;
    }

    .parte3 .quadros .circulo i {
        position: relative;
        font-size: 100px;
        z-index: 1;
        color: var(--verde-escuro);
        cursor: pointer;
        background-color: var(--verde-claro);
        padding: 40px;
        border-radius: 50%;
        top: -2.5rem;
    }

    .parte3 .quadros .circulo i:hover{
        background-color: var(--verde-main);
        color: var(--preto);
        transition: smooth;
    }

}